<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <!-- Замена value="3.0.0.0" => "3.1.0.0" -->
    <add key="webpages:Version" value="3.1.0.0" xdt:Locator="Condition(@key='webpages:Version')" xdt:Transform="Replace" />
    <!-- Замена key='ClientValidationEnabled' => "ClientValidation" -->
    <add key="ClientValidation" value="true" xdt:Locator="Condition(@key='ClientValidationEnabled')" xdt:Transform="Replace" />
  </appSettings>

</configuration>
