@model DepInject.Models.Book

@{
    ViewBag.Title = "ChooseByAuthor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Выбрать книг по автору</h2>

<div>
    @using (Ajax.BeginForm("BookSearch", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="text" name="name" />
        <input type="submit" value="Поиск" />
    }
    <div id="results"></div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
