<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Variables.wxi?>
  
  <!-- <Fragment> содержит внутри фрагмент кода, который будет включен в проект при сборке. -->
  <Fragment>
    <!-- 
    <DirectoryRef> ссылка на раздел Directory. Позволяет вынести, например, описание компонентов за пределы ключа <Directory>. 
    Ключи вида <*Ref> упрощают процесс разделения проекта на фрагменты. 
    Помимо <DirectoryRef> существуют ссылки <FeatureRef>,<ComponentRef> и другие
    -->
    <DirectoryRef Id="FarDestDir" FileSource='$(var.FarSourcePath)' >
      <Component Id="BinFilesForFar" 
                 Guid="{C53860E9-BD21-45B3-A6B6-A9A49A0ADC38}"
                 DiskId='1' >
        <File Id='Far' Name='Far.exe'/>
        <File Id='lpeg' Name='lpeg.dll'/>
        <File Id='lua5x1' Name='lua5.1.dll'/>
        <File Id='lua51' Name='lua51.dll'/>
        <File Id='luafar3' Name='luafar3.dll'/>
      </Component>
    </DirectoryRef>
	</Fragment>

</Wix>
