body {
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    color: #333333;
    background-color: #f7f7fa;
}

h1,h2 { color: #ff6600; } 

#content {
    width: 700px; 
    padding: 10px 
} 

.box { 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    border-width: medium 
}
  
nav{
    display: block;
}
  
.menu {
    padding-left:10px;
}
.menu ul {
    list-style:none;
}
.menu li {
    display:inline;
}
.menu a:hover {
    color:red;
}
table {
   vertical-align:middle;
   text-align:left;  
 }
.header {
    font-weight:bold;
}
 td {
    padding-right:10px;
 }
input {
    width: 150px;
}